
@{
    ViewBag.Title = "Admin";
}



    <div class="container">
        <h2>Hello Master, <br />How can i help?</h2>

                <div class="container">
                    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("ListOfCandidates","Admin")'">CRUD Operations</button>
                    <button type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("ExamResult","Admin")'">Candidates’ Results</button>
                </div>
        <div/>
